.homepage {
  display: flex; // This defines a flex container; inline or block depending on the given value. It enables a flex context for all its direct children.
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;
}
