.collection-page {
  // put all the elements inside the element whose class is `collection-page` in a column
  display: flex;
  flex-direction: column;

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; // Arrange the elements inside `.items` element so that 4 elements are in one row
    grid-gap: 10px;

    & .collection-item {
      margin-bottom: 30px;
    }
  }
}
